.container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 50px;
  padding: 10px;
  background-color: aquamarine;
  box-sizing: border-box;
}

.button {
  color: black;
  background-color: white;
  border: none;
  border-radius: 5px;
}
